*.swp
*.swo
.ccls-cache
home/.config/vifm/vifm-help.txt
home/.config/vifm/vifminfo.json
home/.config/vifm/scripts
home/.config/k9s/config.yaml
home/.config/k9s/aliases.yaml
home/.config/nvim/plugin/packer_compiled.lua
