*.swp
*.swo
.ccls-cache
stow/.config/nvim/lua/packer_compiled.lua
stow/.config/nvim/plugin
stow/.config/vifm/vifm-help.txt
stow/.config/vifm/vifminfo.json
stow/.config/vifm/scripts
stow/.config/k9s/config.yml
