[core]
    pager = delta

[branch]
    sort = -committerdate

[column]
    ui = auto

[commit]
    verbose = true

[delta]
    navigate = true
    line-numbers = true
    syntax-theme = Catppuccin-mocha

[diff]
    algorithm = histogram
	mnemonicPrefix = true
    renames = true
    tool = nvimdiff
    colorMoved = default

[difftool]
    trustExitCode = true

[difftool "nvimdiff"]
    cmd = nvim -d -c 'wincmd l' \"$LOCAL\" \"$REMOTE\"

[fetch]
    all = true

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = zdiff3
    tool = nvimdiff

[mergetool]
    keepBackup = false

[mergetool "nvimdiff"]
    cmd = nvim -d -c 'wincmd l' \"$LOCAL\" \"$MERGED\" \"$REMOTE\"

[push]
    autoSetupRemote = true
    followTags = true

[pull]
    rebase = true

[user]
	name = Marcus Caisey
	email = marcus@teckna.com

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[remote "origin"]
	prune = true
    pruneTags = true

[rerere]
	enabled = true
    autoUpdate = true

[tag]
    sort = version:refname
